<h3><%= cocktail.name %></h3>

<p>
  <%= @cocktail.alcoholic ? "Alcoholic Beverage" : "Non-alcoholic" %><br>
  <strong>Created by:</strong>
  <%= link_to @cocktail.user.email, user_cocktails_path(@cocktail.user) %><br>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @cocktail.instructions %>
</p>

<p>
	<%= link_to "Ingredients", cocktail_ingredients_path(@cocktail) %>
  <ul>
  <% @cocktail.cocktail_ingredients.each do |ci| %>
  	<li><%= ci.quantity %> of <%= ci.ingredient.name %></li>
  <% end %>
  </ul>
</p>