<h3 id="name"><%= cocktail.name %></h3>

<p id="alcoholic"><%= alcoholic?(@cocktail) %></p>
<strong>Created by:</strong>
<%= link_to @cocktail.user.email, user_cocktails_path(@cocktail.user), id: "email" %><br>

<strong>Instructions:</strong>
<p id="instructions"><%= @cocktail.instructions %></p>

<strong>Ingredients:</strong>
<ul id= "ingredientsList">
  <% @cocktail.cocktail_ingredients.each do |ci| %>
    <li><%= ci.quantity %> of <%= ci.ingredient.name %></li>
  <% end %>
</ul>