<%= form_for(cocktail) do |f| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h4>

      <ul>
      <% cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions %>
  </div>

  <div class="field">
    <%= f.label :alcoholic, "Alcoholic beverage?" %>
    <%= f.check_box :alcoholic %>
  </div>

  <h3>Ingredients</h3>

    <%= f.fields_for :cocktail_ingredients do |ci| %>
      <%= ci.label :quantity %>
      <%= ci.text_field :quantity %>

      <%= ci.fields_for :ingredient do |i| %>
        <%= i.label :name %>
        <%= i.text_field :name %><br>
      <% end %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
