<% if current_page?(mocktails_path) %>
  <h1>Mocktails</h1>
<% else %>
  <h1>Cocktails</h1>
<% end %>
  <% @cocktails.each do |cocktail| %>
    <%= cocktail.name %> - <%= cocktail.alcoholic ? "Alcoholic Beverage" : "Non-alcoholic" %>
    <%= link_to 'See Instructions', cocktail %><br>
  <% end %>

<br>
<% if current_user %>
  <%= link_to 'New Cocktail', new_cocktail_path %><br>
  <% if current_page?(mocktails_path) %>
    <%= link_to 'See Alcoholic Cocktails', cocktails_path %>
  <% else %>
    <%= link_to 'See Non-Alcoholic Mocktails', mocktails_path %>
  <% end %>
  
<% else %>
  <%= link_to "Sign In to create a Recipe", new_user_session_path %>
<% end %>

