<%= render 'cocktail', cocktail: @cocktail %>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
<br>
<button id="comments" data-id="<%=@cocktail.id%>">Load Comments</button>
<div id="commentDiv"></div>
<button id="addComment" data-id="<%=@cocktail.id%>">Add Comment</button>